workflows/04-window-memory.json
{
  "name": "Lab 2.2 - Window Memory",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "chat-trigger",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "lab-2-2-chat"
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "temperature": 0.7
        }
      },
      "id": "openai-model",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [450, 500],
      "credentials": {
        "openAiApi": {
          "id": "CREDENTIAL_ID",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant testing window memory limits.\n\nYour job is to remember items the user tells you.\nWhen asked, recall everything you remember.\nBe honest if you cannot recall something."
        }
      },
      "id": "ai-agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [450, 300]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "window_memory_lab",
        "contextWindowLength": 4
      },
      "id": "window-memory",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [650, 500]
    },
    {
      "parameters": {
        "jsCode": "// Token estimation for educational purposes\nconst response = $input.first().json;\nconst outputText = response.output || '';\n\n// Rough estimate: 1 token ≈ 4 characters\nconst estimatedTokens = Math.ceil(outputText.length / 4);\n\nreturn [{\n  json: {\n    response: outputText,\n    estimatedTokens: estimatedTokens,\n    charCount: outputText.length\n  }\n}];"
      },
      "id": "token-counter",
      "name": "Token Counter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Token Counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "AI Agents Lab"
    }
  ],
  "meta": {
    "templateId": "lab-2-2"
  }
}
